#root {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.add-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.411) solid;
  gap: 5px;
  padding: 2px;
  width: 250%; 
}

.container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

input { 
  width: 95%;
}

textarea { 
  width: 95%;
}


